@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInSlideDownRightCorner {
  from {
    opacity: 0;
    top: -100px;
    right: -100px;
  }

  to {
    opacity: 1;
    top: 10px;
    right: 10px;
  }
}

@keyframes fadeInSlideDownRightCornerLogo {
  from {
    opacity: 0;
    top: -100px;
    right: -100px;
  }

  to {
    opacity: 1;
    top: 18px;
    right: 24px;
  }
}

@keyframes fadeInSlideDownLeftCorner {
  from {
    opacity: 0;
    top: -100px;
    left: -100px;
  }

  to {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    top: -100px;
  }

  to {
    opacity: 1;
    top: 65px;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes subheadlineFadeInUp {
  from {
    transform: translateX(-50%) translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes subheadlinePulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }

  50% {
    background-position: center;
    transform: scale(1.2, 1.2);
  }

  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}

@keyframes zoomeffect_arrow {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }

  50% {
    background-position: center;
    transform: scale(1.2, 1.2);
  }

  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}

@keyframes zoomeffect_arrow_text {
  0% {
    background-position: center;
    transform: translateX(-50%) scale(1, 1);
  }

  50% {
    background-position: center;
    transform: translateX(-50%) scale(1.2, 1.2);
  }

  100% {
    background-position: center;
    transform: translateX(-50%) scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

html,
body {
  width: 300px;
  height: 250px;
  overflow: hidden;
  background-color: #00005F;
}

main {
  text-decoration: none;
  display: block;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  width: 300px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  background-color: #00005F;
}

.headline_sticker {
    width: 97px;
    height: 47px;
    position: absolute;
    left: 70px;
    top: 18px;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 0.6s both ease-in 0.4s, fadeOut 0.2s 9.8s ease-out forwards, fadeIn 0.6s 15.9s ease-in forwards;
    z-index: 5;
}

.price_badge {
    top: -7px;
    position: relative;
}

.frame {
  width: 300px; 
  height: 250px;
  position: absolute;
  display: none;
}

.frame_2 {
  display: none !important;
}

.frame_3 {
  display: none;
}

.frame_4 {
  display: none;
}

.percentage_container {
  position: absolute;
}

.percentage_bg {
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  animation: rotateInDownLeft 1s 0.5s ease-in both;
  top: 3px;
  left: 2px;
}

.percentage {
  width: 22px;
  height: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 17px;
  left: 14px;
  opacity: 0;
  animation: fadeIn 0.2s 0.2s ease-in forwards, zoomeffect 2s 1;
  animation-delay: 1.5s;
}

.headline_image {
  width: 160px;
  height: 40px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 5px;
  left: 75px;
  opacity: 0;
  animation: fadeIn 0.2s 0.2s ease-in forwards;
}

.headline_image_br_2 {
  display: none;
}

.embleme {
  width: 38px;
  height: 46px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeInSlideDownRightCornerLogo 1.5s 0.2s ease-in forwards, fadeOut 0.2s 9.8s ease-out forwards, fadeInSlideDownRightCornerLogo 1s 15.7s ease-in forwards;
  z-index: 5;
}

.subheadline {
    position: absolute;
    font-family: "Aldi-light";
    font-size: 12px;
    color: #fff;
    opacity: 0;
  animation: subheadlineFadeInUp 1.5s 0.2s ease-in both, fadeOut 0.2s 9.8s ease-out forwards, subheadlineFadeInUp 0.7s 15.7s ease-in forwards;
    text-align: center !important;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    white-space: nowrap;
}

.subheadline_inner {
  display: block;
  width: fit-content;
  padding: 2px 10px 0 10px;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 10px;
  transform-origin: center center;
  animation: subheadlinePulse 1.4s 2s ease-in-out infinite;
}

.slide_class_1,
.slide_1 {
  opacity: 1;
}

.slide_class_2 {
  position: relative;
  top: -250px;
}

.slide_class_3 {
  position: relative;
  top: -500px;
}

.slide_class_4 {
  position: relative;
  top: -750px;
}

.slide_1 {
  width: 300px;
  height: 250px;
  background-image: url('300x250_frame.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide_2 {
  width: 300px;
  height: 250px;
  background-image: url('300x250_frame.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.product_container {
  opacity: 0;
  animation: fadeIn 0.5s 1s ease-in forwards;
}

.product_container_2 {
  opacity: 0;
  animation: fadeIn 0.7s 5s ease-in forwards;
}

.badge_container {
  width: 254px;
    height: 124px;
    position: absolute;
    top: 76px;
    left: 22px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    border-radius: 4px;
    animation: fadeOut 0.7s 5s ease-out forwards;
}

.badge_1 {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.brand_name_1 {
  text-transform: uppercase;
  margin-bottom: 2px;
  line-height: 12px;
  position: relative;
  font-family: "Aldi-bold";
  font-size: 12px;
  /*top: 100px;
    left: 12px;*/
  max-width: 70px;
  z-index: 1;
}

.product_name_1 {
  position: relative;
  font-family: "Aldi-bold";
  font-size: 12px;
  /*top: 100px;
    left: 12px;*/
  max-width: 70px;
  z-index: 1;
}

.product_description_1 {
  /*position: absolute;*/
  font-family: "Aldi-regular";
  font-size: 10px;
  /*top: 115px;
    left: 12px;*/
  max-width: 70px;
}

.product_image {
    width: 174px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 112px;
    left: 101px;
    z-index: 1;
    border-radius: 10px;
}

.product_image_save {
    width: 110px;
  height: 85px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 135px;
  left: 95px;
}

.sticker_container {
  animation: fadeInDown 0.5s both;
  animation-delay: 2s;
}

.yellow_container {
  width: 90px;
  height: 90px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 65px;
  right: 10px;
  text-align: center;
}

.price_offer_1 {
  position: absolute;
  font-family: "Aldi-black";
  font-size: 22px;
  line-height: 24px;
  color: black;
  top: 8px;
  left: 50%;
  right: initial;
  transform: translateX(-50%);
  
  text-align: center;
  white-space: nowrap;
}

.price_unit_1 {
  position: absolute;
  font-family: "Aldi-light";
  font-size: 8px;
  color: #fff;
  top: 25px;
  left: 50%;
  right: initial;
  transform: translateX(-50%);
  animation: zoomeffect_arrow_text 1s 1 forwards;
  animation-delay: 2.5s;
  text-align: center;
}

.price_old_1 {
  position: absolute;
  font-family: "Aldi-light";
  font-size: 8px;
  color: #fff;
  text-decoration: line-through;
  top: 34px;
  right: initial;
  left: 50%;
  transform: translateX(-50%);
  animation: zoomeffect_arrow_text 1s 1 forwards;
  animation-delay: 2.5s;
  text-align: center;
}

.price_new_1 {
  font-family: "Aldi-black";
  font-size: 16px;
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
}

.currency {
  font-size: 10px;
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
}

.price_and_currency {
  display: inline-block;
}

.price_with_ft {
  color: white;
  text-align: center;
  margin-top: 45px;
}

.price_new_2, .currency {
  display: inline-block;
  vertical-align: middle;
  justify-content: space-between;
}

.red_container {
  width: 100%;
  height: 75px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: initial;
  animation: zoomeffect_arrow 1s 1;
  animation-delay: 2.5s;
  text-align: center;
}

.slide_class_2,
.slide_class_2_stop,
.slide_2,
.slide_2_continue {
  width: 300px;
  height: 250px;
  background-image: url('300x250_frame.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeIn 0.01s 5s linear forwards;
}

.slide_2_stop {
  width: 300px;
  height: 250px;
  background-image: url('300x250_frame.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeIn 0.01s 5s linear forwards, fadeIn 0.01s 13.5s linear forwards;
}

.badge_container_2 {
  width: 254px;
    height: 124px;
    position: absolute;
    top: 76px;
    left: 22px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    border-radius: 4px;
    opacity: 1;
}

.badge_2 {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.brand_name_2 {
  text-transform: uppercase;
  margin-bottom: 2px;
  line-height: 12px;
  position: relative;
  font-family: "Aldi-bold";
  font-size: 12px;
  /*top: 100px;
    left: 12px;*/
  max-width: 70px;
  z-index: 1;
}

.product_name_2 {
  position: relative;
  font-family: "Aldi-bold";
  font-size: 12px;
  /*top: 100px;
    left: 12px;*/
  max-width: 70px;
  z-index: 1;
}

.product_description_2 {
  /*position: absolute;*/
  font-family: "Aldi-regular";
  font-size: 10px;
  /*top: 115px;
    left: 12px;*/
  max-width: 70px;
}
.product_image_2 {
    width: 174px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 112px;
    left: 101px;
    z-index: 1;
    border-radius: 10px;
}

.sticker_container_2 {
  animation: fadeInDown 0.5s both;
  animation-delay: 6s;
}

.yellow_container_2 {
  width: 90px;
  height: 90px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 65px;
  right: 10px;
  text-align: center;
}

.price_offer_2 {
  position: absolute;
  font-family: "Aldi-black";
  font-size: 22px;
  line-height: 24px;
  color: black;
  top: 8px;
  right: initial;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}

.price_unit_2 {
  position: absolute;
  font-family: "Aldi-light";
  font-size: 8px;
  color: #fff;
  animation: zoomeffect_arrow_text 1s 1 forwards;
  animation-delay: 6.5s;
  top: 25px;
  left: 50%;
  right: initial;
  transform: translateX(-50%);
  text-align: center;
}

.price_old_2 {
  position: absolute;
  font-family: "Aldi-light";
  font-size: 8px;
  color: #fff;
  animation: zoomeffect_arrow_text 1s 1 forwards;
  animation-delay: 6.5s;
  text-decoration: line-through;
  top: 34px;
  right: initial;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.price_new_2 {
  font-family: "Aldi-black";
  font-size: 16px;
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
}

.red_container_2 {
  width: 90px;
  height: 75px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: initial;
  animation: zoomeffect_arrow 1s 1;
  animation-delay: 6.5s;
  text-align: center;
}

.slide_3 {
  width: 300px;
  height: 250px;
  background-image: url('akcios_ujsag_online_300x250.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.7s 10s ease-in forwards;
}

.slide_3_stop {
  width: 300px;
  height: 250px;
  background-image: url('akcios_ujsag_online_300x250.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.7s 10s ease-in forwards;
}

.slide_3_continue {
  width: 300px;
  height: 250px;
  background-image: url('akcios_ujsag_online_300x250.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeIn 0.7s 10s ease-in forwards,
    fadeOut 0.7s 13s ease-out forwards;
}

.percentage_container_2 {
  position: absolute;
  animation: fadeInSlideDownLeftCorner 1s 10.1s ease-in forwards;
}

.percentage_bg_2 {
  width: 85px;
  height: 85px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 2px;
}

.percentage_2 {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 26px;
  top: 34px;
}

.embleme_2 {
  width: 58px;
  height: 69px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 8px;
  right: 10px;
  animation: fadeInSlideDownRightCorner 1s 10.1s ease-in forwards;
  z-index: 5;
}

.headline_image_2 {
    height: 35%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeInSlideDown 1s 10.1s ease-in forwards;
    z-index: 5;
}
.headline_image_br {
  display: none;
}

.cta {
  position: absolute;
  background-color: Transparent;
  cursor: pointer;
  color: #fff;
  font-family: "KG";
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid white;
  bottom: 50px;
  left: 63px;
  font-size: 12px;
  opacity: 0;
  animation: fadeIn 1s 10.1s ease-in forwards;
}

.subheadline_2 {
    position: absolute;
    font-family: "Aldi-light";
    font-size: 15px;
    color: #fff;
  width: 100%;
  animation: fadeInUp 1.5s 0.2s ease-in both;
  left: 0;
  transform: none;
  background-color: #f47d20;
  padding-top: 6px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.subheadline_2 .subheadline_inner {
  width: auto;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.slide_4 {
  width: 300px;
  height: 250px;
  background-image: url('300x250_slide_4.jpg');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide_4_plus {
  width: 300px;
  height: 250px;
  background-image: url('300x250_slide_4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeIn 0.7s 12.5s ease-in forwards,
    fadeOut 0.7s 15.5s ease-out forwards;
}