@charset "UTF-8";

:root {
  /* Kézi állítások a háttérképhez */
  --img-wrap-left: 0px;
  --img-wrap-top: 0px;
  --img-wrap-width: 160px;
  --img-wrap-height: 600px;
  --img-pos-x: 50%;
  --img-pos-y: 50%;
  --img-scale: 1;
}

html,
body,
.content {
  width: 160px;
  height: 600px;
  font-size: 7px;
}

.logo_container {
  width: 12rem;
  height: 9rem;
  right: 0;
  bottom: -0.6rem;
}

.product_image_container {
  left: var(--img-wrap-left);
  top: var(--img-wrap-top);
  width: var(--img-wrap-width);
  height: var(--img-wrap-height);
  right: auto;
}

.product_image {
    background-size: 426%;
    background-position-x: 45%;
    background-position-y: 77%;
}

.chat_text_container {
  min-height: 5rem;
  max-width: 16rem;
}

.bubble_1 {
  right: 1.5rem;
  bottom: 11rem;
  font-size: 1.8rem;
}

.bubble_2 {
    right: 1.5rem;
    bottom: 70rem;
    font-size: 1.75rem;
    width: 17.8rem !important;
    padding: 2.5rem 1.5rem !important;
}

.cta_design {
  display: none !important;
}
